.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .headerItems{
        width: 90%;
        .individual-title{
            width: 150px;
            display: flex;
            justify-content: center;
        }
 
        .header-tags{
            display: flex;
            justify-content: space-between;
            
        }

    }
    .item-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        .item{
            display: flex;
            justify-content: center;
            button{
                background-color: transparent;
                border: none; 
                cursor: pointer;
                width: 150px;
            }
         

        }
    }
    .total-payment{
        width: 900px;
        display: flex;
        justify-content: right;
        padding-right: 50px;
    }
    .footer{
        display: flex;
        align-items: flex-end;
        color: red
    }
}